.left {
  float: left;
}
.right {
  float: right;
}
.column {
  width: 230px;
  float: left;
}
body h5 {
  text-align: center;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.different {
  font-family: cursive;
}
.colored {
  color: coral;
}
.bkg {
  background-color: cornsilk;
}

h1 {
  font-family: fantasy;
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  body {
    background-color: black;
    color: white;  }
}
@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: burlywood;
    color: rgb(109, 0, 51);  }
}